* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background: #0f172a;
  color: #e5e7eb;
}
header {
  padding: 40px 20px;
  text-align: center;
  background: #020617;
}
header h1 {
  font-size: 2.2rem;
}
header p {
  margin-top: 10px;
  color: #94a3b8;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
nav a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}
h2 {
  margin-bottom: 15px;
  color: #38bdf8;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.skills span {
  display: inline-block;
  background: #0f172a;
  padding: 8px 12px;
  border-radius: 20px;
  margin: 5px;
  border: 1px solid #1e293b;
}

footer {
  text-align: center;
  padding: 30px;
  color: #94a3b8;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background: #38bdf8;
  color: #020617;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
